<!-- Navigation -->
<app-header-user></app-header-user>
<!-- Page Content -->
<div>
  <app-navbar></app-navbar>
  <div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let p of products" class="col-md-3">

            <div class="product-box">
             <!--  <img src="{{p.urlImage}}"> -->
             <img [src]="p.urlImage + '?v=' + p.id" alt="{{p.name}}">

              <h2 class="card-text">{{p.name}}</h2>
              <div class="price">{{p.price}}</div>
              <div class="product-show">
                <a [routerLink]="['/cart/detailproduct', p.id]" href="#" class="primary-btn">Ver producto</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<app-footer></app-footer>