<header class="w-full h-20 flex items-center">
  <div class="flex justify-between items-center max-w-[1024px] mx-auto">
    <div>
    </div>

    <nav>
      <ul class="flex justify-center items-center gap-12">
        <li>Inicio</li>
        <li>Productos</li>
        <li>
          <h1 class="!tracking-widest !m-0">COSTICA</h1>
        </li>
        <li>Promociones</li>
        <li>Nosotros</li>
      </ul>
    </nav>

    <div>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>
                local_mall
            </mat-icon>
        </button>
    </div>
  </div>
</header>
